.au-form-group {
  &--error {
    border-left: solid 5px $AU-color-error;
    padding-left: 15px;
  }
  
  + .au-form-group {
    @include AU-space( margin-top, 1.5unit );
  }
  
}


.au-label {
  font-family: $AU-font;
  color: $AU-color-foreground-text;
  display: block;
  margin-bottom: 5px; 

  &--inline {
    display: inline-block;
  }

  &--dark {
    color: $AU-colordark-foreground-text;
  }
}


.au-hint-text {
  font-family: $AU-font;
  color: gray;
  margin-bottom: 10px;
  display: block;

  &--inline {
    display: inline-block;
    margin-bottom: 10px;
  }

  &--dark {
    color: $AU-colordark-foreground-muted;
  }
}


.au-error-text {
  font-family: $AU-font;
  color: $AU-color-error;
  font-weight: bold;
  margin-bottom: 10px;
  display: block;

  &--hidden {
    display: none;
  }

  &--dark {
    color: #FFBAB6;
  }
}


.au-fieldset {
  border: none;
  margin: 0;
  padding: 0;

  .au-fieldset__legend {
    @include AU-space( margin-bottom, .5unit );
  }

}


#error-summary, #success-summary {
  display: none;
  @include AU-space( margin-bottom, 2.5unit );
}